<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="container" style="background-color: white; border-radius: 25px; padding-top: 20px; padding-bottom: 20px;
    border: solid orange; box-shadow: 0px 0px 3px 1px #FF9A37; height: 313px; background-color: #DECCBC">
    <div class="space" style="padding: 20px; border-radius: 30px; margin: 10px 225px 20px 225px;
                                  height: 175px; width: 543px; justify-content: center; display: flex; align-items: center; font-weight: bold;
                                  margin-left: auto; margin-right: auto; background-color: #F1F1F1; margin-top: 40px"> {{ blog }} </div>
    <div class="profile-ava" style="box-sizing: border-box; position: absolute; width: 200px; height: 200px; left: 153px; top: 102px; background: url(image.png); border: 1px solid #000000; margin-top: 50px"><img src="{{ url_for('userava') }}"> </div>
</section>
</body>
</html>